body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgb(43, 149, 181), rgb(120, 208, 255));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 100px;
    border-radius: 7px;
    display: flex;
    align-items: center;    
}
header h1{
    margin-inline-start: 10px;
}

header p{
    margin-inline-start: 20px;
    margin-top: 28px;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 80px;
}

.not-Active{
    display: none;
}

.thanks{
    
}

.account-work-space{
    background-image: linear-gradient(rgb(153, 153, 153), rgb(203, 203, 203));
    border-radius: 7px;
    height: 500px;
    width: 1000px;
}

.account-overall{
    display: flex;
    
}
.settings{
    color: white;
    background-color: rgb(43, 149, 181);
    
    border-radius: 7px;
    width: 480px;
    margin-left: 10px;
}

.text{
    background-color: white;
    width: 800px;
    padding:10px;
    height:fit-content;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 5px;
    
}


.color-button{
    background-image: linear-gradient(white, rgb(185, 185, 185));
    border: none;
    padding: 7px;
    border-radius: 7px;
}
.color-button:hover{
    background-image: linear-gradient(white, rgb(143, 143, 143));
}

.close-color-button{
    background-image: linear-gradient(white, rgb(185, 185, 185));
    border: none;
    padding: 7px;
    border-radius: 7px;
}
.close-color-button:hover{
    background-image: linear-gradient(white, rgb(143, 143, 143));
}

.button-element{
    background-image: linear-gradient(white, rgb(185, 185, 185));
    border: none;
    padding: 7px;
    border-radius: 7px;
}
.button-element:hover{
    background-image: linear-gradient(white, rgb(143, 143, 143));
}


@media (max-width: 970px){
    .account-overall{
        display: block;
    }

    .account-work-space{
        width: auto;
    }
    .settings{
        width: auto;
        margin-left: auto;
        height: 200px;
    }
}
@media (max-width: 330px){
    .text{
        width:230px;
    }
}