body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-image: linear-gradient(rgb(43, 149, 181), rgb(210, 239, 255));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 100px;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 80px;
}

.not-Active{
    display: none;
}

.thanks{
    
}

.account-work-space{
    background-image: linear-gradient(rgb(153, 153, 153), rgb(203, 203, 203));
    border-radius: 7px;
    height: 500px;
    width: 1000px;
}
.account-overall{
    display: flex;
    
}
.settings{
    color: blue;
    background-color: rgb(25, 133, 169);
    border-radius: 7px;
    width: 300px;
    margin-left: 20px;
}

.text{
    background-color: white;
    width: fit-content;
}